.custom-bg {
  background: #000000;
}

.custom-heading {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  letter-spacing: 2px;
  color: #ff0101;
}

.left-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 20px;
  background-color: #ff4e00;
}

.left-side-text h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.left-side-text p {
  font-size: 1.1rem;
  color: #d1d1d1;
}

.book-now-button {
  background-color: #ff1f1f;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-button:hover {
  background-color: #e64500;
}

.card {
  background: rgb(246, 246, 246);
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.message{
  color: #cfcfcf;
  
}

@media (max-width: 767px) {
  .left-side-text {
    text-align: center;
  }
  .left-side-text h2 {
    font-size: 1.75rem;
  }
  .button-container {
    justify-content: center;
  }
  .card {
    margin-bottom: 2rem;
    max-width: 100% !important;
  }
}
