  .fs-md-4 {
            font-size: 2.1rem !important;
          }
 
 @media (max-width: 768px) {
          .fs-md-4 {
            font-size: 1.1rem !important;
          }
        }
        
        @media (min-width: 769px) {
          .fs-md-4 {
            font-size: 1.35rem !important;
          }
        }