/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

.video-description {
  position: relative;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 60px;
  text-align: center;
  overflow: hidden;
}

.main-desc {
  position: relative;
  max-width: 80%;
  line-height: 1.6;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-desc p {
  margin: 10px 0;
  font-size: 55px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  width: 100%;
}

/* Class to add when element is visible */
.animate__fadeInUp {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive font sizes */
@media (max-width: 768px) {
  .main-desc p {
    font-size: 28px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .main-desc p {
    font-size: 40px;
  }
}

.video-container {
  width: 82%;
  /* Fixed width */
  height: 80vh;
  /* Fixed height */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  /* Adds left padding */
  padding-right: 20px;
  /* Adds right padding */
  box-sizing: border-box;
  /* Ensures padding is included in the width */
  margin-bottom: 40px;
}

.background-video {
  border: 1px solid rgb(249, 249, 249);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}